.icon-cross {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 3px;
  margin-top: 3px;
  cursor: pointer;
  &:before {
    content: " ";
    width: 100%;
    height: 4px;
    background-color: darken($secondary-color, 20%);
  }
  &:after {
    content: " ";
    width: 4px;
    height: 100%;
    background-color: darken($secondary-color, 20%);
  }
  &:before,
  &:after {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}