.panel {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-125%);
    z-index: 100;
    &-content {
        max-height: 75%;
        max-width: 500px;
        width: 90%;
        overflow-y: auto;
        background-color: #FFFFFF;
        padding: 30px 15px;
        box-shadow: -1px 0px 15px 2px rgba(133,128,133,1);
    }
    &-visible {
        transform: translateX(0);
    }
}